@font-face {
   font-family: 'MilasianCircaMediumPERSONAL';
   font-display: swap;
   src: url('file:///C:/Users/Usuario/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-12_132308/fonts/MilasianCircaMediumPERSONAL/font.ttf');
}
