@font-face {
   font-family: 'Champagne & Limousines';
   font-display: swap;
   src: url('file:///C:/Users/Usuario/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-12_132308/fonts/Champagne%20&%20Limousines/font.ttf');
}
