@font-face {
   font-family: 'MilasianCircaMediumPERSONAL';
   font-display: swap;
   src: url('MilasianCircaMediumPERSONAL/font.ttf');
}
@font-face {
   font-family: 'Champagne & Limousines';
   font-display: swap;
   src: url('Champagne & Limousines/font.ttf');
}
